<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <button id="getusers">Click Me</button>
    <div class="" id="user">

    </div>
    <<div class="" id="users">

    </div>
    <script type="text/javascript">
    document.getElementById('getusers').addEventListener('click',getUsers);
    function getUsers(){
      var xhr = new XMLHttpRequest();
      xhr.open('GET','https://api.github.com/users',true);
      xhr.onload = function(){
        if (this.status == 200)
        {
          console.log(xhr.responseText);
          console.log("READYSTATE "+xhr.readyState);
          var users = JSON.parse(xhr.responseText);
          document.getElementById('user').innerHTML = users[0].login;
          var output = '';
          for (var i in users)
          {
            output = output + '<div> '+users[i].login +'</div>'
            +'<img src='+users[i].avatar_url+'width="70" height="70"/>';
          }
          document.getElementById('users').innerHTML = output;
        }
      }

      xhr.send();
    };
    </script>
  </body>
</html>
