<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tutorial typeahead with Ajax</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
  </head>
  <body>
<div class="container">
  <h2 align="center">Autocopmplete Textbox using Bootstrap Typeahead with Ajax </h2>
  <br><br>
  <label for="">Search Country</label>
  <input type="text" name="country" id="country" class="form-control-input-lg" autocomplete="off" placeholder="Type country name"/>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('#country').typeahead({
      source: function(query, result){
        //alert ('Elad');
        $.ajax({
        //  url: "/data/countries.json",
          url:"/countries/all",
          method: "GET",
          data: {query: query},
          dataType: "json",
          success: function(data){
            console.log('success');
            console.log(data);
            result($.map(data, function(item){
              return item.description;
            }));
            //return data;
          },
          error: function(data){
          console.log('error');
            console.log(data);
          }
        });
      }
    });
  })
</script>
  </body>
</html>
