extends layout

block content

    h1 #{title}
    form(method='POST', action='/recipes/edit/'+recipe._id)
      #form-group 
        label.col-form-label-lg Title
        input.form-control(name='title', type='text', value=recipe.title)
        br  
      #form-group 
        label.col-form-label-lg Ingredients
        textarea.form-control(name='ingredients', rows="10")=recipe.ingredients
        br
      #form-group 
        label.col-form-label-lg Directions
        textarea.form-control(name='process', rows="6")=recipe.process  
        br
        br
      input.btn.btn-primary(type='submit', value='Submit')    
