extends layout

block content

  h1 #{title}
  != messages()
  ul.list-group
  each article, i in articles
    li.list-group-item
      a(href="/articles/"+article._id)=article.title 
      p=article.content
